<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <h1>Error</h1>
    <p th:text="${errorMessage}"  />
    <p> Please use your browser back button and try again.</p>
    <p>If the error persists, please contact your system administrator or office support for further assistance.</p>
</head>
<body>

</body>
</html>
