<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<body>
<form action="#" th:action="@{/savingAccount}" th:object="${user}" method="post">


    <br>
    <br>
    <br>
    <p style="color:red" th:text="${errorMessage}"  />
    <p style="color:red" th:text="${globalErrorMessage}"  />
    <br>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td><button type="submit">Add Savings Account</button></td>
        </tr>
    </table>
</form>
</body>
</html>
